body {
  background-image: url(assets/books.jpg);
  background-color: #017199;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Muli", sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
  display: table;
  margin-left: -2.8rem;
}

nav ul li {
  float: right;
  margin-right: 38px;
  list-style-type: none;
  text-align: center;
}

#brand {
  float: left;
  cursor: default;
}

.nav-link {
  float: right;
  text-decoration: none;
  color: black;
}
/* 
.nav-link:hover {
  font-weight: bold;
} */

#brand .nav-link {
  font-size: 14pt;
}
#brandId:hover {
  color: black;
  cursor: default;
}
/* 
#brand .nav-link:hover {
  font-weight: bold;
} */
#title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}
#search {
  left: 0%;
}
.book-list {
  margin-top: 50px;
  visibility: hidden;
}
#list-group {
  opacity: 0.5;
  max-width: 40vw;
}
.list-group-item:hover {
  background: #72afb7;
  cursor: pointer;
  opacity: 1;
}
.list-group-item {
  opacity: 1;
  font-size: 14px;
}

/* .list-group-item:hover + card {
  visibility: visible;
} */
li {
  font-size: 18px;
  z-index: 5;
  list-style-type: none;
}

.text-text {
  margin-left: 0.9em;
}
.card {
  /* visibility: hidden; */
  margin-left: 8rem;
  width: 500px;
  margin-bottom: 2rem;
}

/* #list-group:hover + .card {
  display: block;
  visibility: visible;
  width: 500px;
} */

.active,
.list-group-item:hover {
  background-color: #666;
  color: white;
}
.card-img-top {
  height: 200px;
  width: 40px;
  margin-bottom: -1rem;
}
/* 
.btn btn-primary {
  position: relative;
  align-items: center;
  text-align: center;
  margin: 0 auto;
} */
.btn-primary:last-child {
  position: relative;
  left: 14%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}

.card-title {
  position: relative;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px !important;
}
.card-author {
  font-size: 14px;
  position: relative;
  text-align: center;
  font-weight: lighter;
}

.card-text {
  font-size: 12px;
  margin-top: 0px;
}
