body {
  background-image: url(assets/books.jpg);
  background-color: #017199;
  height: 130vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "muli", sans-serif !important;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
  display: table;
  margin-left: -2.8rem;
}

nav ul li {
  float: right;
  margin-right: 38px;
  list-style-type: none;
  text-align: center;
}

#brand {
  float: left;
  cursor: default;
}

.nav-link {
  float: right;
  text-decoration: none;
  color: black;
  margin-top: 0.5rem;
}
/* 
.nav-link:hover {
  font-weight: bold;
} */

#brand .nav-link {
  font-size: 14pt;
}
#brandId {
  height: 50px;
  width: 100px;
  margin-top: 0rem;
}
#brandId:hover {
  color: black;
  cursor: default;
}
/* 
#brand .nav-link:hover {
  font-weight: bold;
} */
/* #title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
} */

#title {
  height: 100px;
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: -0.6rem;
}

#search {
  left: 0%;
  background: #0680a5;
}
.book-list {
  margin-top: 50px;
  visibility: hidden;
}

#list-output {
  position: relative;
  margin: 0 auto;
  align-items: center;
}
#list-group {
  opacity: 0.5;
  max-width: 40vw;
  margin-bottom: 3rem;
}
.list-group-item:hover {
  background: #72afb7;
  cursor: pointer;
  opacity: 1;
}
.list-group-item {
  opacity: 1;
  font-size: 14px;
}

/* .list-group-item:hover + card {
  visibility: visible;
} */
li {
  font-size: 18px;
  z-index: 5;
  list-style-type: none;
}

.text-text {
  font-size: 18px;
  font-weight: bolder;

  /* margin-left: 2.1em; */
}
.card {
  /* visibility: hidden; */
  margin-left: 1rem;
  width: 500px;
  margin-bottom: 2rem;
  box-shadow: 5px 10px 1rem grey;
}
.card:hover {
  transform: scale(1.01);
}
/* #list-group:hover + .card {
  display: block;
  visibility: visible;
  width: 500px;
} */

.active,
.list-group-item:hover {
  background-color: #666;
  color: white;
}
.card-img-top {
  height: 200px;
  width: 40px;
  margin-bottom: 0rem;
  border-bottom: 2px solid black;
}

/* .btn btn-primary {
  position: relative;
  align-items: center;
  text-align: center;
  margin: 0 auto;
} */
#cardButton {
  position: absolute;
  left: 21%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  bottom: 0px;
  margin-bottom: 1rem;
}
.card-body {
  background: #fcfbf2;
}
.card-title {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 5px !important;
  margin-top: -0.75rem;
}
.card-author {
  font-size: 14px;
  position: relative;
  text-align: center;
  font-weight: lighter;
}

.card-text {
  font-size: 12px;
  margin-top: 0px;
}
.prev {
  /* margin-left: 1.8rem; */
  opacity: 0.8;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
}
.next {
  background-color: transparent;
  /* margin-left: 16.5rem; */
  opacity: 0.8;
  margin-bottom: 1rem;
  border: none;
}

.prev:hover,
.next:hover {
  color: grey;
  transform: scale(1.5);
  cursor: pointer;
}

#pagination {
  display: inline-block;
}

#pagCenter {
  display: inline-block;
  margin-left: 2rem;
  margin-top: 2rem;
}
